.services__card-title {
    margin: 0;
    margin-left: 40px;
    line-height: 32px;
    font-size: 32px;
    font-weight: 400;
    color: $main-font-color;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .services__card-title {
        margin-left: 20px;
        line-height: 32px;
        font-size: 24px;
    }
}