.guarantees {
    margin: 60px 0;
    width: 77.8%;
}

@media screen and (max-width: 925px) {
    .guarantees {
        width: 84.4%;
    }
}

@media screen and (max-width: 450px) {
    .guarantees {
        margin: 40px 0 30px;
        width: 87.5%;
    }
}