$main-font-color: #FFFFFF;
$secondary-font-color: #8E8E98;
$button-color: #47474C;

//Счёл нецелесообразным выносить в переменные размеры шрифтов
//т.к. они в разнобой пересекаются на всех трёх разрешениях