.order-form__submit-button {
    padding: 0;
    width: 221px;
    height: 50px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
    color: $main-font-color;
    background-color: $button-color;
    border: none;
    border-radius: 0px 8px 8px 0px;
    transition: opacity 0.4s linear;
    &:hover {
        cursor: pointer;
        opacity: 70%;
    }
}

@media screen and (max-width: 925px) {
    .order-form__submit-button {
        width: 33.6%;
    }
}

@media screen and (max-width: 650px) {
    .order-form__submit-button {
        width: 18.2%;
    }
}