.logo__banner {
    margin: 0;
    line-height: 12px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding: 4px 10px;
    color: #000000;
    background-color: #25E197;
    border-radius: 4px;
}