.support__link {
    padding: 13px 30px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: $main-font-color;
    background-color: $button-color;
    border-radius: 8px;
    transition: opacity 0.4s linear;
    &:hover {
        opacity: 70%;
    }
}

@media screen and (max-width: 600px) {
    .support__link {
        padding: 13px 0;
        width: 100%;
        text-align: center;
        line-height: 18px;
        font-size: 12px;
    }
}