.header__title {
    margin: 0;
    margin-bottom: 20px;
    line-height: 112px;
    font-size: 112px;
    font-weight: 400;
    color: $main-font-color;
}

@media screen and (max-width: 925px) {
    .header__title {
        margin-bottom: 0;
        line-height: 90px;
        font-size: 70px;
    }
}

@media screen and (max-width: 450px) {
    .header__title {
        margin-bottom: 10px;
        line-height: 60px;
        font-size: 50px;
    }
}